*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cardHighlight {

  min-height: 100%;
}

*{
  box-sizing: border-box;
  margin: 0;  
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}


.cardProd {
    min-height: 100%;
    margin-bottom: 1rem;
    padding: 1rem;
    padding-bottom: 2rem;
}


.products {

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  /*background-position: center;
  background-repeat: no-repeat;*/
  background-size: cover;
}

.home,
.services,
.sign-up {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.services {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}



.sign-up {

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}


